html {
    font-size: 20px;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #ede2dc;
    background: #000;
    font-size: 20px;
    font-style: normal;
    min-width: 320px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-img.jpg");
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 15px; /* Ширина всего элемента навигации */
  }
  
  body::-webkit-scrollbar-track {
    background: #fff; /* Цвет дорожки */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #050c26; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 3px solid #050c26; /* Оформление границ бегунка */
  }

img {
    max-width: 100%;
    max-height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #ede2dc;
}

a:hover {
    color: #af988a;
}


/* header */
.navbar {
    background-color: #2b211b;
    height: 70px;
}

.navbar-nav .dropdown-menu {
    background-color: #2b211b;
    right: 0;
    left: auto;
}

.navbar-nav .dropdown-item:hover {
    background-color: #463830;
}

.navbar-nav .dropdown-item:active {
    background-color: #614f45;
}
/* header */


.index_div {
    background: #b68b62;
    color:#2b211b;
    border-radius: 30px;
    align-content: center;
    width: 50%;
    height: 55%;
    font-size: 24px;
    padding: 20px;
    padding-top: 40px;
    opacity:0; 
    transition: 1s; 
    animation: show 1.5s 1;
    animation-fill-mode: forwards; 
}

@keyframes show {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.index_div button {
    font-size: 20px;
    background: #2b211b;
    color: #ede2dc;
    border-radius: 50px;
    padding: 30px 100px;
    text-transform: uppercase;
}

.index_div button:hover {
    background: #47372e;
    color: #ede2dc;
}



.login_div {
    background: #b68b62;
    color:#2b211b;
    border-radius: 30px;
    width: 44%;
    height: auto;
    font-size: 18px;
    padding: 30px;
    padding-top: 30px;
    position: absolute;
    margin-top: 30px;
    margin-left: 28%;
}

.login_div .form-control {
    height: 38px;
    margin: 3px;
}

.login_div .btn {
    font-size: 15px;
    background: #2b211b;
    color: #ede2dc;
    border-radius: 30px;
    padding: 20px 80px;
    text-transform: uppercase;
    margin-left: 30%;
}

.login_div .btn:hover {
    background: #47372e;
    color: #ede2dc;
}


.transport_div_all {
    color:#2b211b;
    align-content: center;
    width: min-content;
    height: auto;
    font-size: 18px;
    margin: 10px;
    opacity:0; 
    transition: 1s; 
    animation: show 1.5s 1;
    animation-fill-mode: forwards; 
    display: flex;
    justify-content: center;
}

.btn_go {
    display: flex;
    justify-content: center;
    font-size: 16px;
    background: #2b211b;
    color: #ede2dc;
    margin: 10px;
    border-radius: 30px;
    padding: 12px 50px;
    align-self: center;
}

.btn_go:hover {
    background: #47372e;
    color: #ede2dc;
}


.transport_div {
    max-width: 300px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    opacity:0; 
    transition: 1s; 
    animation: show 1.5s 1;
    animation-fill-mode: forwards;
    display: inline-block;
}

.transport_div input {
    min-width: 250px;
}

.transport_div .form-control {
    height: 38px;
}

.schedule-list {
    height: 500px;
    width: 70%;
    overflow-y: scroll;
    margin: auto;
}

.schedule {
    align-content: center;
    background-color: #ede2dc;
    color: #463830;
    margin: auto;
    margin-top: 30px;
    padding: 50px;
}