{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    <div class="transport_div_all">
        {{ form.hidden_tag() }}
        <div class="transport_div" id="from">
            {{ form.from_text(class="form-control", placeholder="Откуда") }}<br>
            {% for error in form.from_text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="transport_div" id="to">
            {{ form.to_text(class="form-control", placeholder="Куда") }}<br>
            {% for error in form.to_text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="transport_div" id="date">
            {{ form.date(class="form-control", type="date", placeholder="Когда") }}<br>
            {% for error in form.date.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {{ form.submit(type="submit", class="btn_go") }}
        <div class="transport_div" style="color: white">{{ message }}</div>
    </div>
</form>
{% if data %}
<div class="schedule-list">
    {% for thread in data %}
    <div class="schedule" id={{thread[0]}}>
        {% for item in thread %}
        {% if item["transport"] == 'train' or item["transport"] == 'suburban'%}
        <div style="display: inline-block"><h3><i class="fa-solid fa-train fa-2xl" style="color: #463830;"></i>
            {{item["name"]}}</h3></div>
        {% elif item["transport"] == 'plane'%}
        <div><h3><i class="fa-solid fa-plane fa-2xl" style="color: #463830;"></i> {{item["name"]}}</h3></div>
        {% elif item["transport"] == 'bus'%}
        <div><h3><i class="fa-solid fa-bus fa-2xl" style="color: #463830;"></i> {{item["name"]}}</h3></div>
        {% else%}
        <div><h3>{{item["name"]}}</h3></div>
        {% endif %}
        <div>
            <br><b>Откуда:</b> {{item["fr"]}}
            <br><b>Куда:</b> {{item["to"]}}
        </div>
        <div>
            <br><b>Отправление:</b> {{item["start"]}}
            <br><b>Прибытие:</b> {{item["end"]}}
        </div>
        <br>
        {% endfor %}
        <button type="button" onclick="sendRequest('{{ loop.index }}', '{{ fr }}', '{{ to }}', '{{ date }}')" class="btn_transport" id="getData"><a href="start/choose_hotel/{{to}}">Выбрать
            маршрут</a>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}
<script>
    function sendRequest(id, from, to, date) {
        fetch('/start?id=' + id + '&from=' + from + '&to=' + to + '&date=' + date)
            .then(response => response.json())
            .then(data => {
            });
    }
</script>
{% endblock %}